<!DOCTYPE html>
<html>
<head>
    <title>Patient Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="page">
  <div class="topbar">
    <h2>Register Patient</h2>
    <div>
      <a href="/patient_list" class="btn-secondary">Patient Records</a>
      <a href="/admin" class="btn-secondary">Admin</a>
    </div>
  </div>

  <div class="form-box">
    <h2>Register Patient</h2>

    <form action="/save_patient" method="post">
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="date" name="dob" required>
        <input type="text" name="phone" placeholder="Phone" required>
        <input type="email" name="email" placeholder="Email" required>
        <textarea name="address" placeholder="Address" required></textarea>
        <button type="submit">Register</button>
    </form>
  </div>
</div>

</body>
</html>
